@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
