@import 'tailwindcss';

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.puyo {
  @apply size-10 shrink-0
}
